<!-- bootstrap.js가 jQuery에 의존 = 제이쿼리가 부트스트랩보다 먼저 호출되도록 코드 작성 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>